<?xml version="1.0"?>
<model>
  <name>formation_quadrotor</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Leader-Follower Formation Project</name>
    <email>n/a</email>
  </author>
  <description>
    Lightweight four-motor quadrotor model for the multi-simulator project.
  </description>
</model>
